/* Reset e fonte */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

/* Container principal */
#container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(249,112,59,1) 0%, rgba(248,83,19,1) 100%);
}

/* Título */
#titulo{
    margin-bottom: 40px;
    font-size: 25px;
    color: #fff;
}

/* Container secundário (caixa branca) */
#container_secundario{
    width: 700px;
    padding: 30px 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 9px -11px 12px -2px rgba(0,0,0,0.75);
}

/* Input e botão */
#container_input {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}

/* Input de texto */
#inputTxt {
   outline: none;
   border: 1px solid black;
   width: 100%;
   height: 40px;
   padding: 5px;
   border-radius: 10px;
   margin-right: 10px;
   font-size: 16px;
}

/* Botão */
#container_btn {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #f85313;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#container_btn:hover {
    background-color: #e63946;
}

/* Palavra pesquisada */
#container_palavra {
     color: #f85313;
     font-size: 22px;
     margin-bottom: 10px;
     text-transform: capitalize;
}

/* Significado */
#container_significado {
    color: black;
    font-style: italic;
    margin-bottom: 10px;
}

/* Span para numerar significados */
span {
    font-size: 20px;
    color: #f85313;
}
